@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oleo+Script:wght@400;700&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #5848dd;
  --sec-color: #9747ff;
  --main-color: #4f41c2;
  --btn-color1: #6943d8;
  --btn-color2: #2e1d61;
  --text-color: #616161;
  --text-color2: #a4a3a3;
  --bg-color: #100c2f;
  --txt-color: #ffffff;
  --del-color: #f24822;
  --recieved-color: #14ae5c;
  --pending: #eb9b2c;
  --ordered-color: #6943d8;
  --paid-color: #dcfeec;
  --partial-color: #efedff;
  --due-color: #ffebe7;
  --due: #f24822;
  --bg-pending: #fef3dc;
}
html {
  font-size: 60%;
}
body {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  background-color: #000;
  text-decoration: none;
}
h1 {
  font-size: 3.5rem;
}
h3 {
  font-size: 1.8rem;
  color: #000;
}
h5 {
  font-size: 1rem;
}
p {
  font-size: 0.8rem;
}

.opti-login {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--txt-color);
  width: 750px;
  height: 600;
  padding: 20px;
  gap: 0px;
  opacity: 0px;
  margin: auto;
  margin-top: 5rem;
}
.login-name h1 {
  padding-left: 12rem;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 23.88px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-left: 4rem;
}
.login-name p {
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  padding-left: 14rem;
}
.login-name {
  position: relative;
  width: 450px;
  height: 80vh;
  gap: 0px;
  opacity: 0px;
  padding-left: 0;
  padding-top: 15rem;
  border-radius: 10px;
  background-image: linear-gradient(#9747ff, #4f41c2);
  color: #ffffff;
}
.login-name .one {
  margin-top: 10rem;
  width: 188.96px;
  height: 162.59px;
  transform: rotate(0deg);
  border: 0.5px solid transparent;
  left: 0px;
}
.login-name .two {
  margin-top: 18rem;
  width: 188.96px;
  height: 2.59px;
  transform: rotate(0deg);

  left: 0px;
}
.one::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 136px;
  background-color: #ffffff96;
  bottom: 200px;
  left: 0px;
  transform: rotate(13.53deg);
}

.one::after {
  content: "";
  position: absolute;
  height: 186px;
  width: 1px;
  left: 150px;
  background-color: #ffffff96;
  bottom: 0px;
  transform: rotate(-10.53deg);
}
.two::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 106px;
  background-color: #ffffff96;
  bottom: 200px;
  left: 0px;
  transform: rotate(13.53deg);
}

.two::after {
  content: "";
  position: absolute;
  height: 177px;
  width: 1px;
  left: 120px;
  background-color: #ffffff96;
  bottom: 12px;
  transform: rotate(-10.53deg);
}
.login-name img {
  width: 60px;
  height: 60px;
  gap: 0px;
  opacity: 0px;
  margin-left: 18rem;
}
.login-details {
  width: 300px;
  height: 80vh;
  background-color: #ffffff;
  gap: 0px;
  opacity: 0px;
  padding-left: 4rem;
  padding-top: 18rem;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login-details h1 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0%;
}
.login-details a h3 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.login-details h4 {
  width: 220px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0%;
  color: #a2a1a8;
}
.login-details a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 13px;
}
.login-details h5 {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 9px;
  line-height: 19.5px;
  letter-spacing: 0%;
  color: var(--text-color);
  margin-bottom: 0.5rem;
}
.login-details h6 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 9px;
  line-height: 19.5px;
  letter-spacing: 0%;
  color: var(--text-color);
  margin-bottom: 1rem;
  padding-left: 3rem;
}
.login-details h6 span {
  color: var(--btn-color1);
}

button {
  width: 220px;
  height: 30px;
  border-radius: 4px;
  border: 1px solid var(--btn-color1);
  background-color: var(--btn-color1);
  color: var(--txt-color);
  font-size: 9px;
  text-align: center;
  margin-bottom: 1rem;
  cursor: pointer;
}

input:hover {
  border: 1px solid var(--text-color2);
  border-bottom: 1px solid #000;
}
button:hover {
  background-color: #100c2f;
}
.text-field {
  position: relative;
  margin: 10px 2.5px 20px 2.5px;
}

input {
  display: inline-block;
  width: 220px;
  height: 30px;
  border-radius: 4px;
  opacity: 0px;
  border-top: none;
  border-left: none;
  border: 1px solid var(--text-color2);

  background-color: transparent;
  padding: 7px;
  border-radius: 2px;
  outline: none;
}

.inputContainer input:focus {
  border: 1px solid var(--btn-color1);
  background-color: #fff;
}
.inputContainer input {
  outline: none;
}

.inputContainer input:valid {
  border: 1px solid #006ec4;
}
label {
  color: #999;
  position: absolute;
  pointer-events: none;
  left: 10px;
  top: 10px;
  transition: 0.2s;
  border: none;
}

input:focus ~ label,
input:valid ~ label {
  top: -5px;
  left: 5px;
  font-size: xx-small;
  font-weight: 600;
  color: var(--btn-color1);
  background-color: #fff;
  padding: 0 5px 0 5px;
}
span a {
  text-decoration: none;
  cursor: pointer;
}
a {
  cursor: pointer;
}
.login-details h3 span {
  font-size: 13px;
}

/*otp*/

.form {
  margin-left: 5rem;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;
  position: relative;
  border-radius: 10px;
}
.text {
  font-size: 12px;
  color: #000;
  text-align: center;
}
.inputContainer {
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5px;
}
.inputContainer input {
  background-color: transparent;
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #a2a1a833;
  outline: none;
  caret-color: #100c2f;
  color: #100c2f;
  font-size: 16px;
  font-weight: 500;
}
.verifyBtn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}
.inputContainer input:disabled {
  background-color: #5748ddb6;
  cursor: not-allowed;
}
#btns {
  color: var(--txt-color);
  font-size: 11px;
  font-weight: 600;
}
#bord {
  border-color: #006ec4;
}

.mobile {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-bottom: 2rem;
}
.mobile-intro1 {
  width: 44px;
  height: 40px;
  display: none;
}
.mobile-intro1 img {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 700px) {
  .opti-login {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--txt-color);
    width: 550px;
    height: 600;
    padding: 20px;
    gap: 0px;
    opacity: 0px;
    margin: auto;
    margin-top: 5rem;
    overflow: hidden;
  }
  .login-name h1 {
    padding-left: 7rem;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 23.88px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    margin-left: 1rem;
  }
  .login-name p {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 500;
    line-height: 24.38px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    padding-left: 6rem;
  }
  .login-name {
    position: relative;
    width: 260px;
    height: 80vh;
    gap: 0px;
    opacity: 0px;
    padding-left: 0;
    padding-top: 15rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: linear-gradient(#9747ff, #4f41c2);
    color: #ffffff;
  }
  .login-name img {
    width: 60px;
    height: 60px;
    gap: 0px;
    opacity: 0px;
    margin-left: 9rem;
  }
}
@media only screen and (max-width: 500px) {
  .opti-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 430px;
    margin-top: 0.1rem;
    background-color: #eae8ed;
  }
  .login-name {
    display: none;
  }
  .login-details {
    width: 100%;
    height: 100%;
    padding-top: 7rem;
    padding-left: 5rem;
    border-radius: 5px;
    background-color: #eae8ed;
  }
  .mobile-intro1 {
    display: block;
  }
  .mobile {
    margin-bottom: 0.1rem;
    gap: 110px;
  }
  button {
    border-radius: 5px;
    width: 300px;
    height: 40px;
  }

  input {
    display: inline-block;
    width: 300px;
    height: 40px;
    border-radius: 4px;
    opacity: 0px;
    border-top: none;
    border-left: none;
    border: 1px solid var(--text-color2);

    background-color: transparent;
    padding: 7px;
    border-radius: 2px;
    outline: none;
  }
  input:focus {
    border: 2px solid var(--btn-color1);
    background-color: #eae8ed;
  }
  input:focus ~ label,
  input:valid ~ label {
    top: -5px;
    left: 5px;
    font-size: xx-small;
    font-weight: 600;
    color: var(--btn-color1);
    background-color: #eae8ed;
    padding: 0 5px 0 5px;
  }
  .mobile-intro h1 {
    font-size: 2.5rem;
  }
}
