*{
    font-family: "Montserrat", serif;
}
html{
    font-size: 16px;
  }
  
.container{
    display: grid;
    grid-template-areas: 
    "sidebar header"
    "sidebar main";
    grid-template-columns:  1fr 4fr;
}

/*styling for sidebar starts here*/
.sidebar{
    grid-area: sidebar;
    background: #100C2F;
    border-top-left-radius: 1.9rem;
    border-bottom-left-radius: 1.9rem;
}
nav{
    margin-top: 3rem;
    text-align: center;
    
  }
  nav ul{
    list-style-type: none;
  }
  nav ul li a{
    text-decoration: none;
    color: #B0AFAF;
    display: flex;
    margin-bottom: 2.5rem;
  }
 
  nav ul li a img{
    /* margin-bottom: 2.5rem; */
    margin-right: 1rem;
  }
  nav ul li a .fa-gear{
    margin-right: 1rem;
  }
  /* ul li a:hover{
    background: #7653DC;
  } */
  ul li a:hover{
    background: #00000066;
    padding: 1.5px 8px;
    width: 153px;
    /* height: 28px; */
    border-radius: 10px;
  }
  hr{
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
/*styling for sidebar ends here*/

/*styling for header starts here*/
.header{
    grid-area: header;
    text-align: center;
    background: #FAF8F8;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    max-width: 80vw;
    max-height: 10vh;
   /* font-size: 20px;
    font-weight: 600; */
   
}
input[type =text]{
    width: 23rem;
    height: 2.5rem;
    border-radius: 0.3rem;
    border: 1px solid #757575;
    padding: 0rem 1rem 0 1rem;
    /* position: relative; */
  }
  /*.fa-magnifying-glass{
    position: absolute;
     max-width: 23rem;
    left: 60rem;
    top: 2rem;
    color: #757575; 
  }*/
/*styling for header ends here*/


main{
    grid-area: main;
    max-width: 80vw;
    background: #E8E7E7;
}
.heading-text{
    display: flex;
    justify-content: space-between;
    width: 62vw;
    margin: auto;
    font-size: 0.8rem;
}
section{
    background: #FFFFFF;
    width: 70vw;
    margin: auto;
    padding: 1rem;
    border-radius: 20px;
    margin-bottom: 1rem;
}

.products-table{
    border-spacing: 35px;
    text-align: center;
}
#input-2{
    width: 26vw;
    margin-left: -2.5rem;
}
.input-table-text{
    display: flex;
    justify-content: space-between;
    width: 59vw;
    margin: auto;
    
}
.filter-btn1{
border: 1px solid #4F41C2;
color: #4F41C2;
width: 5.4rem;
padding: 0.5rem 0.9rem;
background: #FFFFFF;
cursor: pointer;
}
.filter-btn1 img{
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.4rem;
    
}
.filter-btn2{
background: #4F41C2;
color: #FFFFFF;
width: 7rem;
padding: 0.6rem 0.9rem;
border: none;
cursor: pointer;
}
/* table .table-imgs{
    display: flex;
    align-items:flex-end;
    justify-content:space-between;
    height: auto;
} */

/*this styliong is for category.html*/
.Category-table{
    border-spacing: 1.8rem;
    /* border: 1px solid #A19E9E; */
    width: 68vw;
    text-align: center;
    /* margin-left: -2rem; */
}
/* table tr th td{
    border: 1px solid #A19E9E;
} */
/* .Category-table tbody tr th td {
    border: 1px solid #A19E9E; 

} */
/* #category-check{
    padding-left: 8rem;
} */

.active{
    background-color: #DCFEEC;
    color: #14AE5C;
    border-radius: 5px;
    width: 59px;
    height: 35px;

}
.inactive{
    color: #F24822;
    background: #FDE9E5;
    border-radius: 5px;
    width: 70px;

}

/*styling for transfer.html*/
.transfer-table{
    border-spacing: 1.8rem;
    font-size: 0.8rem;
    /* border: 1px solid #A19E9E; */
    /* width: 78vw; */
    /* text-align: center;  */
}
.transfer-btn2{
    background: #4F41C2;
    color: #FFFFFF;
    width: 9rem;
    padding: 0.7rem 0.9rem;
    border: none;
    cursor: pointer; 
}
.completed{
    border: 2px solid #14AE5C;
    color: #14AE5C;
    width: 89px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.pending{
    border: 2px solid #EB9B2C;
    color: #EB9B2C;
    padding: 5px;
    text-align: center;
    width: 89px;
    height: 35px;
    border-radius: 5px;
}
.process{
    border: 2px solid #6943D8;
    color: #6943D8;
    padding: 5px;
    text-align: center;
    width: 89px;
    height: 35px;
    border-radius: 5px;
}

/*stying for reports.html*/
.report-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar overview"
    "sidebar revenue"
    "sidebar best";
    background: #E8E7E7;
    height: 1100px;
    max-width: 100%;
    width: 100%;
    /* min-width: 0;
    flex: 1; */
}

.overview{
    grid-area: overview;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "content content2";
    /* justify-content: space-between; */
    width: 100%;
    margin: auto;
    min-width: 0;
    /* background: #FFFFFF; */
}
/* .overview-table1{
    border-spacing: 2rem;
} */
.revenue{
    color: #DBA362;

}
.overview-price{
    grid-area: content;
    background: #FFFFFF;
    border-spacing: 1.5rem;
    width: 32vw;
    margin: auto;
    height: 200px;
    border-radius: 8px;
    font-size: 0.8rem;
    /* margin-right: 2rem; */
}
.overview-pvalue{
  display: flex;
  justify-content: space-around;
  /* margin-top: -1.5rem; */
}
.caption-overview{
  padding-left: 1rem;
}
.sales{
  color: #845EBC;

}
.best-selling-category{
    grid-area: content2;
    background: #FFFFFF;
    border-spacing: 1.5rem;
    width: 32vw;
    margin: auto;
    height: 200px;
    border-radius: 8px;
    font-size: 0.8rem;
}

/* .container > table .best-selling-cate-table1 th, td{
 padding: 0 2rem;
} */
 .best-selling-category01{
  display: flex;
  justify-content: space-around;
 }
.caption-bsc{
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem ;
}
.report-container span{
    color: #10A760;

}
.report-container caption{
    color: #383E49;
    text-align: left;
    padding: 0.5rem 0.5rem;

}
.view-all-btn1{
    color: #0F50AA;
    font-size: 1rem;
    border: none;
    background: #FFFFFF;
    float: inline-end;

}
.profits-revenue{
    grid-area: revenue;
    /* background: #FFF222; */
   
}
.profits-revenue img{
    width: 975px;
    margin-left: 2.8rem;
}
.best-selling{
    grid-area: best;
    background: #FFFFFF;
    width: 975px;
    margin: auto;
    height: 320px;
    margin-top: -1.5rem;
    border-radius: 8px;
    /* border-spacing: 5rem; */
    /* text-align: left; */
}
.best-selling001{
  text-align: left;
}
.left-align{
  text-align: center;
}



/*this styling is for settings.html*/
.settings-div{
    display: grid;
    grid-template-rows: 0.1fr 1fr 1fr;
    grid-template-areas: 
    "heading12"
    "content11"
    "content22";
}
.heading-text{
    grid-area: heading12;
}
.profile-set{
    grid-area: content11;
    background: #FFFFFF;
    width: 1000px;
    height: 326px;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 3rem;
    align-content: center;
}
.input-flex1{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: auto;
    margin-bottom: 2.2rem;

}
.input-flex2{
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin: auto;
    /* margin-right: 2rem; */
    
}
input[id=userName]{
    margin-right: 2rem; 
}
 input[id=emailAddress]{
    width: 367px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #757575;
    padding: 0 16px;
    margin-left: 2rem;
}
.btn-safe-changes{
    background: #4F41C2;
    border: none;
    border-radius: 5px;
    width: 187px;
    height: 43px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    margin-top: 2rem;
    margin-left: 26rem;
}



.password{
    grid-area: content22;
    background: #FFFFFF;
    width: 1000px;
    height: 326px;
    border-radius: 20px;
    margin: auto;
    align-content: center;
}
input[id="passWord"]{
    width: 367px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid #757575;
    padding: 0 16px;
    margin-left: 2rem;
}
.mobile-container{
  display: none;
}
.mobile-container-setting{
  display: none;
}
*{
  /* outline: 1px solid red; */
  /* max-width: 100% !important; */
  box-sizing: border-box;
  /* overflow-x: hidden; */
}
/* img{
  max-width: 100%;
  height: auto;
}
table{
  width: 100%;
  border-collapse: collapse;
} */
/*styling for mobile responsiveness*/
@media(max-width:769px){
    main{
        /* background: gold; */
        /* max-height: 100vh; */
        width: 100%;
        max-width: 100%;
    }
    html{
      font-size: 68%;
    }
    .sidebar{
        display: none;
    }
    .container{
      display: none;
    }
    .mobile-container{
      display: block;
      height: 150vh;
      background: #E8E7E7;
    }
    .mobile-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 20px;
      background: #6943D8;
      margin-bottom: 2rem;
    }
    .mobile-header h3{
      margin: 0;
      flex: 1;
      text-align: center;
    }
    .mobile-header i{
      font-size: 20px;
    }
    /* .mobile-container{
      

    } */
    .mobile-container .mobile-main .mobile-input{
      position: relative;
      display: flex;
      align-items: center;
      width: 95%;
      margin: auto;
      max-width: 100%;
      margin-bottom: 2rem;
    }
    .mobile-container .mobile-main .mobile-input input{
      width: 100%;
      padding: 10px 30px 10px 10px;
      /* margin-bottom: 2rem; */
    }
    .fa-magnifying-glass{
      position: absolute;
      right: 2rem;
      cursor: pointer;
    }
    /* .table-mobile-products{
      background: gold;
    } */
    table{
      width: 95%;
      margin: auto;
      border-collapse: collapse;
      background: #FFFFFF;
      border-radius: 10px;
      padding: 10px 8px;
      /* margin-bottom: 5rem; */
    }
    th, td{
      padding: 7px;
      /* margin: 0 2rem; */
      border-bottom: 1px solid #B0AFAF;
    }

    /*this mobile screen is for category.html*/
    .active-mobile{
      background-color: #DCFEEC;
      color: #14AE5C;
      border-radius: 5px;
      border: none;
      padding: 5px 10px;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      /* margin-top: 0.8rem; */
      display: inline-block;
      /* align-items: center; */
      /* padding: 2rem; */
      /* height: 55px; */
  }
  .inactive-mobile{
      color: #F24822;
      background: #FDE9E5;
      display: inline-block;
      border-radius: 5px;
      border: none;
      /* margin-top: 0.8rem; */
      /* width: 70px; */
  
  }

  /*this mobile styling is for reports.html*/
  .main-reports-imgs{
    display: flex;
    flex-direction: column;
    width: 94%;
    margin: auto;
   
  }
  .margin-bottom{
    margin-bottom: 1.5rem;
  }

  /*mobile styling for settings.html*/
  .mobile-container-setting{
    display: block;
    height: 150vh;
    background: #6943D8;
  
}
.setting-mobile-screen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-settings-h3{
  position: relative;
}
.fa-arrow-left{
  position: absolute;
  left: -17.5rem;
  cursor: pointer;
  font-size: 1.5rem;
  
}
.profile-setting{
  background: #FFFFFF;
  max-width: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 2rem 0;
}
.pro-sett{
  text-align: left;
  font-size: 1.5rem;
}
#userName{
  background: #C1C7C46B;
  border: none;
  width: 78vw;
  margin: auto;
  padding: 2rem 2rem 2rem 2.8rem;
}
.flexxx{
  margin-bottom: 2rem;
}
.trial{
  position: relative;
  /* width: 99%; */
  margin: auto;
}

.trial img{
  position: absolute;
  top: 1.2rem;
  left: 0.5rem;
  /* padding-left: 1rem;
  padding-right: 2rem; */
}
.btn-settings{
  color: #E5E2E2;
  background: #4F41C2;
  border: none;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  width: 40%;
  font-weight: 600;
  cursor: pointer;
}
.btn-setting2{
  color: #E5E2E2;
  background: #4F41C2;
  border: none;
  border-radius: 5px;
  padding: 1.5rem 2rem;
  width: 35%;
  font-weight: 600;
  margin-left: 12rem;
  margin-top: 1.5rem;
  cursor: pointer;
}
/*styling for tablet responsiveness*/
@media(min-width:770px) and (max-width:1024px){
    main{
        /* background: palegreen; */
        /* margin-bottom: 2rem; */
    max-width: 100%;
    width: 100%;
    flex-grow: 1;
    }
    html{
        font-size: 78%;
      }
      .container{
        width: 100%;
        max-width: 100%;
        overflow-x:visible;
      }
      .header input{
        width: 70%;
      }
      .header .div-francis img{
        width: 72%;
      }
       #products{
        max-width: 100%;
    width: 67vw;
    flex-grow: 1;
       }
       .filter-btn{
        font-size: 0.8rem;
       }
      table{
        width: 100%;
        border-collapse: collapse;
        table-layout: auto;
      }
      th, td{
        padding: 6px;
        text-align: left;
        
      }
     
     /*tablet screen for reports.html*/
     .report-container{
      max-width: 1024%;
      width: 95%;
      margin: 0 auto;
      flex-grow: 1;
     }
     .overview{
      max-width: 100%;
      width: 100%;
      flex-grow: 1;
     }
     .overview-price, .overview-price02{
      width: 90%;
      max-width: 100%;
      padding: 0 0.8rem;
     }
     
     .profits-revenue img{
      width: 93%;
      height: 50vh;
      max-width: 100%;
      /* flex-grow: 1; */
      margin-left: 2rem;
      /* margin: auto; */
     }
    
     .best-selling{
      width: 95%;
      max-width: 100%;
      /* margin: auto; */
      padding: 0.8rem;
     }
     .best-selling th, td{
      padding-bottom: 2rem;
     }
}
}